/* banner styles section */
.banner{
    background-image: url('../images/banner/banner1.png');
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
    background-position: top right ;
}
.banner-container{
    color:  #151414);
text-align: right;
padding: 216px 230px 364px 845px;

}
.banner-title{
    width: 525px;
    font-size: 65px;
    font-family:'Lucida Sans';
    font-weight: 700;
}
.banner-discription{
    width: 494px;
    color:  #444343);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.btn-primery{
    color: #FFF;
    background-color: #F15B22;
    border-radius: 5px;
    padding: 5px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
}
/* main section styles */
.main-section-container{
    display: flex;
   gap: 10px;
   padding:10px 10px 5px 150px ;
}
.main-colum-two{
  position: relative;
}
.main-section-title{
    width: 288px;
    color:  #151414);
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 700;
}
.main-section-discription{
    width: 416px;
    color: #444343;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
ul{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
ul li{
    gap: 8px ;
}
/* my plan styles */
.my-plan-title{
    text-align: center;
  padding-bottom: 40px;
    font-size: 50px;


}
.plan-colum-container{
    display:flex;
    /* justify-content:space-between ; */
    width: 1600px;
    /* height: 3229px; */
    background: #FFF;
    gap: 100px;
    margin-left: 250px;
}
.colum-title{
    color:#151414);
    text-align: center;
    font-family: "Work Sans";
    font-size: 30px;
    font-weight: 700;
}
.colum-discription{
    color: #737272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 500;
    
}
.colum-img{
   align-items: center;
   margin-left: 50px;
}
   /* mindset section styles */
   .mindset-container{
    background-image: url('../images/watch.png');
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    margin-left: 220px;
   }
   .mindset-title{
    /* width: 459px; */
    color: #10c3e3;
    font-size: 30px;
    font-weight: 700;
    padding: 40px 617px 147px 64px;

   }
   .clime-btn{
    color: #F15B22;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 600;
    padding: 10px;

   }
/* footer styles section */
footer{
    background-color: #151414;
    margin-top: 50px ;
}
.footer-container{
    display: flex;
    /* justify-content: space-between; */
    color: #FFF;
    gap: 100px;
    padding: 130px 230px;
     width: 50%;
} 
.footer-colum-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
.footer-social-img{
   padding-right: 5px;
}

input, button{
    display: block;
    margin-bottom: 20px;
    padding:18px 35px;
    color: #757575;
    border-radius: 5px;
}